<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.demorecycletview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemorecycletView">
        <activity
            android:name=".AdvancedSample"
            android:exported="true" />
        <activity
            android:name=".EndlessScrollingActivity"
            android:exported="true" />
        <activity
            android:name=".RealmActivity"
            android:exported="true" />
        <activity
            android:name=".ModelItemActivity"
            android:exported="true" />
        <activity
            android:name=".StickyHeaderActivity"
            android:exported="true" />
        <activity
            android:name=".SortActivity"
            android:exported="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <activity
            android:name=".ImageListSample"
            android:exported="true" />
        <activity
            android:name=".IconGridSample"
            android:exported="true" />
        <activity
            android:name=".RadioButtonSample"
            android:exported="true" />
        <activity
            android:name=".CheckboxSample"
            android:exported="true" />
        <activity
            android:name=".SwipableSample"
            android:exported="true" />
        <activity
            android:name=".ExpandableSample"
            android:exported="true" />
        <activity
            android:name=".MultipleSelectSample"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>